<form [formGroup]="formulario">
    <!--id -->
    <input type="number" formControlName="id" class="form-control" formControlName="id" readonly>
    <!--nome -->
    <input type="text" formControlName="nome" placeholder="Nome" class="form-control" formControlName="nome">
    <!--valor -->
    <input type="text" formControlName="valor" placeholder="valor" class="form-control" formControlName="valor">

    <input type="button" value="Cadastrar" class="btn btn-primary" *ngIf="btnCadastrar" (click)="cadastrar()">
    <input type="button" value="Alterar"  class="btn btn-primary" *ngIf="!btnCadastrar" (click)="alterar()">
    <input type="button" value="Remover"  class="btn btn-primary" *ngIf="!btnCadastrar">
    <input type="button" value="Cancelar" class="btn btn-primary" *ngIf="!btnCadastrar">

</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vetor; index as indice">
            <td>{{indice + 1}}</td>
            <td>{{v.nome}}</td>
            <td>{{v.valor}}</td>
            <td><button class="btn btn-primary" (click)="selecionarProduto(indice)">Selecionar</button></td>
        </tr>
    </tbody>
</table> 